<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/compare.css">
    </head>


    <style>
        

        *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    background-attachment: fixed;

}
.container
{
    position: relative;
    padding: 20px;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    width: 300px;
    height: 420px;
    background: cornsilk;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.container:hover .card
{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}
.container .card:hover
{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.container .card .circle
{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .card .circle h2
{
    color: white;
    font-size: 2.5em;
    padding: 30px;

}

.container .card .content
{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}
.container .card .content p
{
    color: #666;
}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a
{
    background: #ffaf00;
}
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a
{
    background: #b700ff;
}
    </style>
    <body>
        <div class="container">

        <div class="card">
        <div class="circle">
            <h2>City Bank</h2>
        </div>
        <div class="content">
            <p>We provide 4 different type of credit card</p>
            <p>Platinum Card</p>
            <p>Gold Card</p>
            <p>Silver Card</p>
            <p>Tara Card</p>
            <a href="/citycc1">Apply Now</a>
        </div>
        </div>

        <div class="container">

            <div class="card">
            <div class="circle">
                <h2>Mutual Trust Bank</h2>
            </div>
            <div class="content">
                <p>We provide 4 different type of credit card</p>
                <p>Platinum Card</p>
                <p>Gold Card</p>
                <p>Silver Card</p>
                <p>Tara Card</p>
                <a href="/braccc1">Apply Now</a>
            </div>
            </div>

            <div class="container">

                <div class="card">
                <div class="circle">
                    <h2>UCB Bank</h2>
                </div>
                <div class="content">
                    <p>We provide 4 different type of credit card</p>
                    <p>Platinum Card</p>
                    <p>Gold Card</p>
                    <p>Silver Card</p>
                    <p>Tara Card</p>
                    <a href="/braccc1">Apply Now</a>
                </div>
                </div>

                <div class="container">

                    <div class="card">
                    <div class="circle">
                        <h2>Grameen Bank</h2>
                    </div>
                    <div class="content">
                        <p>We provide 4 different type of credit card</p>
                        <p>Platinum Card</p>
                        <p>Gold Card</p>
                        <p>Silver Card</p>
                        <p>Tara Card</p>
                        <a href="/braccc1">Apply Now</a>
                    </div>
                    </div>

                    <div class="container">

                        <div class="card">
                        <div class="circle">
                            <h2>Jamuna Bank</h2>
                        </div>
                        <div class="content">
                            <p>We provide 4 different type of credit card</p>
                            <p>Platinum Card</p>
                            <p>Gold Card</p>
                            <p>Silver Card</p>
                            <p>Tara Card</p>
                            <a href="/braccc1">Apply Now</a>
                        </div>
                        </div>

                        <div class="container">

                            <div class="card">
                            <div class="circle">
                                <h2>Prime Bank</h2>
                            </div>
                            <div class="content">
                                <p>We provide 4 different type of credit card</p>
                                <p>Platinum Card</p>
                                <p>Gold Card</p>
                                <p>Silver Card</p>
                                <p>Tara Card</p>
                                <a href="/braccc1">Apply Now</a>
                            </div>
                            </div>

                            <div class="container">

                                <div class="card">
                                <div class="circle">
                                    <h2>Brac Bank</h2>
                                </div>
                                <div class="content">
                                    <p>We provide 4 different type of credit card</p>
                                    <p>Platinum Card</p>
                                    <p>Gold Card</p>
                                    <p>Silver Card</p>
                                    <p>Tara Card</p>
                                    <a href="/braccc1">Apply Now</a>
                                </div>
                                </div>

                                <div class="container">

                                    <div class="card">
                                    <div class="circle">
                                        <h2>Islami Bank</h2>
                                    </div>
                                    <div class="content">
                                        <p>We provide 4 different type of credit card</p>
                                        <p>Platinum Card</p>
                                        <p>Gold Card</p>
                                        <p>Silver Card</p>
                                        <p>Tara Card</p>
                                        <a href="/braccc1">Apply Now</a>
                                    </div>
                                    </div>

                                    <div class="container">

                                        <div class="card">
                                        <div class="circle">
                                            <h2>Dutch Bangla Bank</h2>
                                        </div>
                                        <div class="content">
                                            <p>We provide 4 different type of credit card</p>
                                            <p>Platinum Card</p>
                                            <p>Gold Card</p>
                                            <p>Silver Card</p>
                                            <p>Tara Card</p>
                                            <a href="/braccc1">Apply Now</a>
                                        </div>
                                        </div>

                                        <div class="container">

                                            <div class="card">
                                            <div class="circle">
                                                <h2>HSBC Bank</h2>
                                            </div>
                                            <div class="content">
                                                <p>We provide 4 different type of credit card</p>
                                                <p>Platinum Card</p>
                                                <p>Gold Card</p>
                                                <p>Silver Card</p>
                                                <p>Tara Card</p>
                                                <a href="/braccc1">Apply Now</a>
                                            </div>
                                            </div>

                                            <div class="container">

                                                <div class="card">
                                                <div class="circle">
                                                    <h2>Sonali Bank</h2>
                                                </div>
                                                <div class="content">
                                                    <p>We provide 4 different type of credit card</p>
                                                    <p>Platinum Card</p>
                                                    <p>Gold Card</p>
                                                    <p>Silver Card</p>
                                                    <p>Tara Card</p>
                                                    <a href="/braccc1">Apply Now</a>
                                                </div>
                                                </div>

                                                <div class="container">

                                                    <div class="card">
                                                    <div class="circle">
                                                        <h2>Standard Chartered Bank</h2>
                                                    </div>
                                                    <div class="content">
                                                        <p>We provide 4 different type of credit card</p>
                                                        <p>Platinum Card</p>
                                                        <p>Gold Card</p>
                                                        <p>Silver Card</p>
                                                        <p>Tara Card</p>
                                                        <a href="/braccc1">Apply Now</a>
                                                    </div>
                                                    </div>

                                                    <div class="container">

                                                        <div class="card">
                                                        <div class="circle">
                                                            <h2>Habib Bank</h2>
                                                        </div>
                                                        <div class="content">
                                                            <p>We provide 4 different type of credit card</p>
                                                            <p>Platinum Card</p>
                                                            <p>Gold Card</p>
                                                            <p>Silver Card</p>
                                                            <p>Tara Card</p>
                                                            <a href="/braccc1">Apply Now</a>
                                                        </div>
                                                        </div>

                                                        <div class="container">

                                                            <div class="card">
                                                            <div class="circle">
                                                                <h2>Eastern Bank</h2>
                                                            </div>
                                                            <div class="content">
                                                                <p>We provide 4 different type of credit card</p>
                                                                <p>Platinum Card</p>
                                                                <p>Gold Card</p>
                                                                <p>Silver Card</p>
                                                                <p>Tara Card</p>
                                                                <a href="/braccc1">Apply Now</a>
                                                            </div>
                                                            </div>

                                                            <div class="container">

                                                                <div class="card">
                                                                <div class="circle">
                                                                    <h2>Dhaka Bank</h2>
                                                                </div>
                                                                <div class="content">
                                                                    <p>We provide 4 different type of credit card</p>
                                                                    <p>Platinum Card</p>
                                                                    <p>Gold Card</p>
                                                                    <p>Silver Card</p>
                                                                    <p>Tara Card</p>
                                                                    <a href="/braccc1">Apply Now</a>
                                                                </div>
                                                                </div>

                                                                <div class="container">

                                                                    <div class="card">
                                                                    <div class="circle">
                                                                        <h2>Uttara Bank</h2>
                                                                    </div>
                                                                    <div class="content">
                                                                        <p>We provide 4 different type of credit card</p>
                                                                        <p>Platinum Card</p>
                                                                        <p>Gold Card</p>
                                                                        <p>Silver Card</p>
                                                                        <p>Tara Card</p>
                                                                        <a href="/braccc1">Apply Now</a>
                                                                    </div>
                                                                    </div>

                                                                    <div class="container">

                                                                        <div class="card">
                                                                        <div class="circle">
                                                                            <h2>Janata Bank</h2>
                                                                        </div>
                                                                        <div class="content">
                                                                            <p>We provide 4 different type of credit card</p>
                                                                            <p>Platinum Card</p>
                                                                            <p>Gold Card</p>
                                                                            <p>Silver Card</p>
                                                                            <p>Tara Card</p>
                                                                            <a href="/braccc1">Apply Now</a>
                                                                        </div>
                                                                        </div>

                                                                   


        </div>
    </body>
</html>