<!DOCTYPE html>
<html>
<head>
 <title>Cards</title>
</head>


<style type="text/css">
*{
 margin: 0px;
 padding: 0px;
}
body{
 font-family: arial;
}
.main{
 margin: 2%;
}
.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px rgb(130, 146, 70);
     border-radius: 5px; 
     margin: 2%;
    }
.image img{
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 5px;
 }
 img {
    float: left;
    width:  100px;
    height: 200px;
    object-fit: cover;
}
.title{
  text-align: center;
  padding: 10px;
 }
h1{
  font-size: 25px;
 }
.des{
  padding: 3px;
  text-align: center;
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: rgb(255, 255, 255);
  transition: .5s;
  cursor: pointer;
}
</style>


<body>
<div class="main">
 <!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/download.png">
</div>
<div class="title">
 <h1>City Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-9% - 12.50%</p>
   <p>Processing fee-2%-5%</p>
   <p>Loan amount-30L - 5Crs</p>
   <!--
    <button><a href="/citybankhome">Apply Now</a></button>
    -->
    <button><a href="/homeloaneligibility2">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/mitb-1603376348158.jpg">
</div>
<div class="title">
 <h1>
Mutual Trust Bank</h1>
</div>
<div class="des">
 <p>Interest Rate-6.70% - 7.50%</p>
 <p>Processing fee-2.5%</p>
 <p>Loan amount-30L - 5Crs</p>
 <!--
<button><a href="/mitbbankhome">Apply Now</a></button>
  -->
  <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/maxresdefault.jpg">
</div>
<div class="title">
 <h1>
UCB Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-6.70% - 7.50%</p>
   <p>Processing fee-2%-3%</p>
   <p>Loan amount-5L - 10Crs</p>
   <!-- 
      <button><a href="/ucbbankhome">Apply Now</a></button>
   -->
   <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/Presentation1-copy.jpg">
</div>
<div class="title">
 <h1>
Grameen Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-6.70% - 7.50%</p>
   <p>Processing fee-2.50%</p>
   <p>Loan amount-5L -30Crs</p>
   <!--
    <button><a href="/grameenbankhome">Apply Now</a></button>
    -->
    <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/Sibl-Logo.jpg">
</div>
<div class="title">
 <h1>
Jamuna Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-9% - 12.50%</p>
   <p>Processing fee-1%</p>
   <p>Loan amount-30L -5Crs</p>
   <!--
    <button><a href="/jamunabankhome">Apply Now</a></button>
    -->
    <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/southeast-bank-squarelogo-1464954505453.png">
</div>
<div class="title">
 <h1>
Prime Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-6.70% - 7.50%</p>
   <p>Processing fee-2%</p>
   <p>Loan amount-5L - 10Crs</p>
   <!-- 
    <button><a href="/primebankhome">Apply Now</a></button>
    -->
    <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/unnamed.png">
</div>
<div class="title">
 <h1>
Brac Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-6.90% -8.050%</p>
   <p>Processing fee-2%</p>
   <p>Loan amount-30L - 5Crs</p>
   <!--
   <button><a href="/bracbankhome">Apply Now</a></button>
    -->
    <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/untitled-2-1606235028369_52.jpg">
</div>
<div class="title">
 <h1>
Islami Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-9% - 12.50%</p>
   <p>Processing fee-3%</p>
   <p>Loan amount-30L - 5Crs</p>
   <!--
   <button><a href="/islamibankhome">Apply Now</a></button>
    -->
    <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
<div class="image">
   <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/whitagram-image-1612727080304.jpg">
</div>
<div class="title">
 <h1>
Dutch Bangla Bank</h1>
</div>
<div class="des">
   <p>Interest Rate-6.90% - 8.05%</p>
   <p>Processing fee-3%-6%</p>
   <p>Loan amount-5L - 10Crs</p>
   <!--
    <button><a href="/dbblbankhome">Apply Now</a></button>
    -->
    <button><a href="/homeloaneligibility">Apply Now</a></button>
</div>
</div>
<!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/HSBC_logo_2018.png">
   </div>
   <div class="title">
    <h1>
   HSBC Bank</h1>
   </div>
   <div class="des">
      <p>Interest Rate-6.70% - 7.50%</p>
      <p>Processing fee-3.50%</p>
      <p>Loan amount-5L - 10Crs</p>
      <!--
       <button><a href="/hsbcbankhome">Apply Now</a></button>
       -->
       <button><a href="/homeloaneligibility">Apply Now</a></button>
   </div>
   </div>
   <!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/sonali.jpg">
   </div>
   <div class="title">
    <h1>
   Sonali Bank</h1>
   </div>
   <div class="des">
      <p>Interest Rate-6.70% - 7.50%</p>
      <p>Processing fee-2.50%</p>
      <p>Loan amount-5L - 10Crs</p>
      <!--
<button><a href="/sonalibankhome">Apply Now</a></button>
       -->
       <button><a href="/homeloaneligibility">Apply Now</a></button>
   </div>
   </div>
   <!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/stan9180_e781b9f6ca.jpg">
   </div>
   <div class="title">
    <h1>
   Standard Chartered</h1>
   </div>
   <div class="des">
      <p>Interest Rate-6.90% - 8.05%</p>
      <p>Processing fee-2.75%</p>
      <p>Loan amount-30L - 5Crs</p>
   <!--
   <button><a href="/standardbankhome">Apply Now</a></button>
   -->
   <button><a href="/homeloaneligibility">Apply Now</a></button>
   </div>
   </div>
   <!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/habibtitled-1_75.png">
   </div>
   <div class="title">
    <h1>
   Habib Bank</h1>
   </div>
   <div class="des">
      <p>Interest Rate-9% - 12.50%</p>
      <p>Processing fee-2%</p>
      <p>Loan amount-30L - 5Crs</p>
      <!--
      <button><a href="/habibbankhome">Apply Now</a></button>
       -->
       <button><a href="/homeloaneligibility">Apply Now</a></button>
   </div>
   </div>
   <!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/ebl.jpg">
   </div>
   <div class="title">
    <h1>
   Eastern Bank</h1>
   </div>
   <div class="des">
      <p>Interest Rate-6.90% -8.05%</p>
      <p>Processing fee-0.75%</p>
      <p>Loan amount-5L - 10Crs</p>
      <!--
      <button><a href="/easternbankhome">Apply Now</a></button>
       -->
       <button><a href="/homeloaneligibility">Apply Now</a></button>
   </div>
   </div>
   <!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/dhakaes.png">
   </div>
   <div class="title">
    <h1>
   Dhaka Bank</h1>
   </div>
   <div class="des">
      <p>Interest Rate-6.70% - 7.50%</p>
      <p>Processing fee-2.50%</p>
      <p>Loan amount-30L - 5Crs</p>
      <!--
       <button><a href="/dhakabankhome">Apply Now</a></button>
       -->
       <button><a href="/homeloaneligibility">Apply Now</a></button>
   
   </div>
   </div>
   <!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/uttarad.jpg">
   </div>
   <div class="title">
    <h1>
   Uttara Bank</h1>
   </div>
   <div class="des">
      <p>Interest Rate-9% - 12.50%</p>
      <p>Processing fee-0%</p>
      <p>Loan amount-5L - 10Crs</p>
      <!--
         <button><a href="/uttarabankhome">Apply Now</a></button>
       -->
      <button><a href="/homeloaneligibility">Apply Now</a></button>
   </div>
   </div>
   <!--cards -->
<div class="card">
   <div class="image">
      <img src="https://raw.githubusercontent.com/Arshad360/Easy-Bank/main/Code/Easy_bank/Static/Easy_bank_app/images/Janata_Bank.png">
   </div>
   <div class="title">
    <h1>
   Janata Bank</h1>
   </div>
   <div class="des">
      <p>Interest Rate-9% - 12.50%</p>
      <p>Processing fee-2.50%</p>
      <p>Loan amount-30L - 5Crs</p>
      <!--
       <button><a href="/janatabankhome">Apply Now</a></button>
       -->
       <button><a href="/homeloaneligibility">Apply Now</a></button>
   </div>
   </div>
</div>
</body>
</html>