<!DOCTYPE html>
<head>
    <title>Loan Information</title>
</head>
<body>
    <center>
        <h1>Data</h1>
        <hr/>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>types_of_loan</th>
                <th>bank_name</th>
                <th>interest_rate</th>
                <th>processing_fee_range</th>
                <th>loan_amount</th>
                <th>tenure_range</th>
            </tr>
            {% for results in data %}
            <tr>
               <td>{{results.ID}}</td>
               <td>{{results.types_of_loan}}</td>
               <td>{{results.bank_name}}</td>
               <td>{{results.interest_rate}}</td>
               <td>{{results.processing_fee_range}}</td>
               <td>{{results.loan_amount}}</td>
               <td>{{results.tenure_range}}</td>

            </tr>

            {% endfor %}
        </table>
    </center>
</body>